<component name="ArtifactManager">
  <artifact type="war" name="SpringModule:war">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringModule_war</output-path>
    <root id="archive" name="SpringModule_war.war">
      <element id="artifact" artifact-name="SpringModule:war exploded" />
    </root>
  </artifact>
</component>